In [15]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold, RepeatedKFold, LeaveOneOut

In [16]:
# Load the Iris dataset
iris = load_iris()
X = iris.data
y = iris.target
df = pd.DataFrame(X, columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [20]:
# Initialize the classifier
model = DecisionTreeClassifier(random_state=42)
# K-Fold Cross Validation
kfold = KFold(n_splits=5, random_state=42, shuffle=True)
scores_kfold = cross_val_score(model,X, y, cv=kfold)
print(f'K-Fold Cross Validation Scores: {scores_kfold}')
print(f'K-Fold Cross Validation Mean Score: {np.mean(scores_kfold)}')

K-Fold Cross Validation Scores: [1.         0.96666667 0.93333333 0.93333333 0.93333333]
K-Fold Cross Validation Mean Score: 0.9533333333333335

In [21]:

# Repeated K-Fold Cross Validation
repeated_kfold = RepeatedKFold(n_splits=5, n_repeats=10, random_state=42)
scores_repeated_kfold = cross_val_score(model, X, y, cv=repeated_kfold)
print(f'Repeated K-Fold Cross Validation Scores: {scores_repeated_kfold}')
print(f'Repeated K-Fold Cross Validation Mean Score: {np.mean(scores_repeated_kfold)}')

Repeated K-Fold Cross Validation Scores: [1.         0.96666667 0.93333333 0.93333333 0.93333333 0.96666667
 1.         0.9        0.96666667 0.9        0.96666667 0.83333333
 0.96666667 1.         0.86666667 0.86666667 1.         0.83333333
 0.96666667 1.         0.93333333 0.96666667 0.96666667 0.93333333
 0.93333333 1.         0.93333333 0.83333333 0.96666667 1.
 0.86666667 0.93333333 0.86666667 1.         0.93333333 0.9
 0.93333333 0.93333333 0.93333333 0.96666667 1.         0.96666667
 0.93333333 0.93333333 0.9        0.93333333 0.96666667 0.96666667
 0.96666667 0.96666667]
Repeated K-Fold Cross Validation Mean Score: 0.9413333333333336

In [22]:

# Leave-One-Out Cross Validation (LOOCV)
loo = LeaveOneOut()
scores_loo = cross_val_score(model, X, y, cv=loo)
print(f'Leave-One-Out Cross Validation Scores: {scores_loo}')
print(f'Leave-One-Out Cross Validation Mean Score: {np.mean(scores_loo)}')

Leave-One-Out Cross Validation Scores: [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1.]
Leave-One-Out Cross Validation Mean Score: 0.94